/data/kunitz_noseed.fasta
/data/full_dataset.fasta
/data/notkunitz.fasta
/.idea/inspectionProfiles/profiles_settings.xml
/data/.ipynb_checkpoints/kunitzReport-checkpoint.ipynb
/script/.ipynb_checkpoints/kunitzReport-checkpoint.ipynb
/.idea/kunitz-project.iml
/.idea/vcs.xml
